@import url("https://fonts.googleapis.com/css2?family=KoHo&display=swap");

html,
body {
  font-family: "KoHo", sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 4px;
  color: white;
  background-color: #100046;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.MuiSvgIcon-root {
  color: rgba(255, 255, 255, 0.74);
  font-size: 28px !important;
}
